.popup {
  &__title {
    margin-bottom: 30px;
  }

  &__content {
    padding: 0 40px;
  }

  &__footer {
    display: flex;
    align-items: center;
    padding: 40px;
  }
}

.new-review-date-block {
  display: block;
  margin-bottom: 15px;
}

.footer__submit-button {
  margin-right: 20px;
}
