<app-popup [isSimpleInnerInterface]="false"
  [withoutPadding]="true"
  (onCloseEmit)="closePopup()">

  <app-popup-title title="Создать запрос на изменение планируемой даты рассмотрения ПД "
    class="headerContent popup__title"></app-popup-title>

  <div class="popup__content">
    <app-input-calendar label="Текущая дата рассмотрения"
      [isBlackTheme]="true"
      [formControl]="requestForm.get('currentReviewDate')"></app-input-calendar>
    <app-input-calendar label="Новая дата рассмотрения"
      class="new-review-date-block"
      [isBlackTheme]="true"
      [highlightedDates]="meetingPmDates"
      [minDate]="minDate"
      [errorMsg]="requestForm.get('updatedReviewDate').errors?.invalidDate"
      [formControl]="requestForm.get('updatedReviewDate')"></app-input-calendar>
    <app-textarea label="Обоснование изменения планируемой даты рассмотрения ПД"
      errorMsg="Поле не должно быть пустым."
      [isBlackTheme]="true"
      [maxLengthInput]=1900
      [formControl]="requestForm.get('changeReason')">
    </app-textarea>
  </div>

  <div class="popup__footer">
    <app-big-button (click)="onConfirm()"
      class="footer__submit-button"
      label="Отправить на рассмотрение"
      isBlackTheme="true"
      [disabled]="requestForm.invalid">
    </app-big-button>
    <app-middle-button (click)="closePopup()"
      label="Закрыть"
      isBlackTheme="true">
    </app-middle-button>
  </div>
</app-popup>