@import 'fonts';
@import 'proportions/scroll';

:host {
  height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.edit-form {
  padding: 20px 0 0;
  width: 100%;
}

.content {
  overflow: auto;
  font-family: $fontFamilyRegular;
  font-size: 18px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px 40px;
  box-sizing: border-box;

  @extend .scrollbarOnWhiteTheme;
}

.edit-form_respresentation-dates {
  display: none;
}

.success-popup__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.success-popup__text {
  font-size: 20px;
  margin-bottom: 20px;
}

.helping-buttons-wrapper {
  position: relative;
  bottom: 0px;
  padding-left: 20px;
  display: flex;
  justify-content: flex-start;
  background-color: #f7f8f8;
}

.helping-button {
  padding: 20px;
}

.helping-buttons-placeholder {
  height: 93px;
}
