<app-content-header [title]="packageType.name">
  <ng-container *appPermission="permission">
    <app-header-button
      elementId="edit-button"
      (click)="startEditForm()"
      *ngIf="findLastPointForCurrentUser | documentEdit: isEdit: (isConsiderationInfoLoading$ | async)"
      label="редактировать"
    ></app-header-button>
    <app-header-button
      elementId="edit-save"
      (click)="onEditSave()"
      *ngIf="isEdit"
      [disabled]="documentForm.invalid"
      label="сохранить"
    ></app-header-button>
    <app-header-button
      elementId="edit-cancel"
      (click)="onEditCancel()"
      *ngIf="isEdit"
      label="отмена"
    ></app-header-button>
  </ng-container>
</app-content-header>

<div class="content" appScrollSpy>
  <section class="edit-form" id="about">
    <app-document-main-form
      [parentForm]="documentForm.get('main')"
      [revisionTypeControl]="revisionTypeControl"
      [pageMode]="documentPageMode.edit"
      [documentPackage]="documentPackage"
      (onGetProjectTypes)="onGetProjectTypes($event)"
    ></app-document-main-form>
  </section>

  <section class="edit-form" id="base">
    <app-development-reason-form
      [parentForm]="documentForm"
      [developmentReasonSavedFormValue]="getDevelopmentReasonSavedFormValue()"
      [mainFormSavedValue]="getMainFormSavedValue()"
      [pageMode]="documentPageMode.edit"
      [isLocalProjectType]="isLocalProjectTypeCreated"
    ></app-development-reason-form>
  </section>

  <section class="edit-form" id="date" *ngIf="isCanViewHistory">
    <app-review-date-form
      *ngIf="!isLocalProjectTypeCreated"
      [parentForm]="documentForm"
      [pageMode]="documentPageMode.edit"
    ></app-review-date-form>
  </section>

  <section class="edit-form" id="relatedDocuments" *showIfNotLocalLegalAct>
    <app-related-documents-form [isEdit]="isEdit"></app-related-documents-form>
  </section>
</div>
<div class="helping-buttons-wrapper" *ngIf="!isRouteCompleted">
  <app-big-button
    appPreventDoubleClick
    *ngIf="canCreateDocumentProject"
    [disabled]="isEdit || !isCreateDocumentProject"
    label="Создать проект документа"
    (throttledClick)="createDocumentProject()"
    class="helping-button"
  ></app-big-button>
  <app-big-button
    *ngIf="canCreateApprovementSheet"
    [label]="approvementSheetTitle"
    [disabled]="isEdit"
    (click)="createApprovementSheet()"
    class="helping-button"
  ></app-big-button>
  <app-big-button
    *ngIf="canCharge"
    label="Поручить"
    (click)="charge()"
    [disabled]="isEdit"
    class="helping-button"
  ></app-big-button>
</div>

<app-review-date-change-request-popup
  *ngIf="isReviewDateRequestPopupShown"
  [documentPackageId]="documentPackage.id"
  [oldReviewDate]="documentPackage.reviewDate"
  [newReviewDate]="documentForm.value.reviewDate"
  (successCallback)="sendReviewDateChangeRequest($event)"
  (cancelCallback)="isReviewDateRequestPopupShown = false"
>
</app-review-date-change-request-popup>

<app-confirmation-popup
  *ngIf="isReviewDateChangePopupShown"
  [text]="reviewDateChangePopupText"
  successBtnLabel="Создать"
  [(toggleConfirmationPopup)]="isReviewDateChangePopupShown"
  (successCallback)="isReviewDateRequestPopupShown = true"
></app-confirmation-popup>

<app-big-loader *ngIf="toggleLoader$ | async"></app-big-loader>

<app-popup
  [isSimpleInnerInterface]="true"
  *ngIf="toggleSuccessPopup$ | async"
  (onCloseEmit)="onSuccessSavePopupClose()"
>
  <div class="success-popup__container">
    <div class="success-popup__text">Данные сохранены</div>
    <app-middle-button label="Ок" [isBlackTheme]="true" (click)="onSuccessSavePopupClose()"></app-middle-button>
  </div>
</app-popup>

<app-confirmation-popup
  *ngIf="toggleLeavePopup"
  text="Изменения не сохранены. <br/>Выполнить переход?"
  [(toggleConfirmationPopup)]="toggleLeavePopup"
  (successCallback)="onPageLeave()"
></app-confirmation-popup>
