<app-popup (onCloseEmit)="closePopup()"
  [disableScroll]="true"
  [isSimpleInnerInterface]="true">
  <div class="headerContent">
    <span class="popup-title">Отправка</span>
  </div>
  <div class="content-wrapper">
    <div>{{ title }}</div>
    <app-sending-params-form [date]="form.get('date')"
      [time]="form.get('time')"
      [quantity]="form.get('quantity')"></app-sending-params-form>
  </div>
  <div class="buttonsContent">
    <div class="popup-buttons">
      <div class="button">
        <app-middle-button label="Выполнить"
          [disabled]="form.invalid"
          (click)="onApply()"
          [isBlackTheme]="true">
        </app-middle-button>
      </div>
      <div class="button">
        <app-middle-button label="Отмена"
          (click)="closePopup()"
          [isBlackTheme]="true"></app-middle-button>
      </div>
    </div>
  </div>
</app-popup>