@import 'fonts';

.popup-title {
  font-family: $fontFamilyBold;
  font-size: 30px;
  color: #ffffff;
}

.content-wrapper {
  margin: 20px 0;
}

.popup-buttons {
  display: flex;

  .button {
    margin-right: 20px;
  }
}
