@import 'colors';
@import 'fonts';

.popup-title {
  font-family: $fontFamilyBold;
  font-size: 30px;
  color: #ffffff;
}

.content-wrapper {
  margin: 20px 0;
}

.form-label {
  margin-bottom: 10px;
}

.form-group {
  margin-bottom: 10px;

  &.form-group-inline {
    display: flex;
    justify-content: space-between;
  }

  .checkbox-control {
    display: block;
    width: 445px;
    margin-bottom: 10px;
  }

  .form-item {
    margin-bottom: 10px;
  }

  .form-group-item {
    width: 100%;
  }

  .toggle-description {
    color: $gray-font-color;
    cursor: pointer;
  }
}

.popup-buttons {
  display: flex;

  .button {
    margin-right: 20px;
  }
}

.error-message {
  color: $alertColor;
}
