<app-popup (onCloseEmit)="closePopup()" [disableScroll]="false">
  <div class="headerContent">
    <span class="popup-title">{{ title }}</span>
  </div>
  <div class="content-wrapper">
    <div class="form-label">Кому</div>
    <div class="form-group form-group-inline">
      <app-input-radio
        [isBlackTheme]="true"
        [formControl]="form?.get('addresseeType')"
        [options]="addresseeTypeOptions"
      ></app-input-radio>

      <app-input-checkbox
        class="checkbox-control"
        [isBlackTheme]="true"
        [control]="form?.get('isApprovalSheet')"
        label="Добавить адресата в информацию о рассылке в ЛС"
        controlName="isApprovalSheet"
      >
      </app-input-checkbox>
    </div>
    <div class="form-group">
      <app-new-employee-sub-form
        class="form-group-item"
        *ngIf="form?.get('addresseeType')?.value === addresseeTypeKeys.Personally"
        [isRequired]="true"
        [isBlackTheme]="true"
        [formControl]="form?.get('employee')"
      ></app-new-employee-sub-form>
      <span class="error-message" *ngIf="hasEmployeeError">{{ hasEmployeeError }}</span>

      <app-select
        *ngIf="form?.get('addresseeType')?.value === addresseeTypeKeys.Organization"
        [control]="form?.get('organization')"
        controlName="organization"
        optionLabel="name"
        [isBlackTheme]="true"
        [optionsList]="organizations$ | async"
        label="Организация"
        [needFilter]="true"
        placeholder="выберите"
        class="form-group-item"
      ></app-select>

      <span class="error-message" *ngIf="hasOrganizationError">{{ hasOrganizationError }}</span>
    </div>
    <div class="form-label">Настройка рассылки</div>
    <div class="form-group">
      <app-input-checkbox
        class="checkbox-control"
        [isBlackTheme]="true"
        [control]="form?.get('isEdo')"
        label="ЭДО"
        controlName="isEdo"
      >
      </app-input-checkbox>

      <label
        *ngIf="form?.get('isEdo').value && !hasEdoSendingComment"
        class="toggle-description"
        (click)="toggleEdoSendingComment()"
        >+ Добавить комментарий</label
      >

      <app-textarea
        *ngIf="form?.get('isEdo')?.value && hasEdoSendingComment"
        label="Комментарий"
        [isBlackTheme]="true"
        [maxLengthInput]="1900"
        [formControl]="form?.get('edoSending.comment')"
        controlName="edoSendingComment"
      >
      </app-textarea>
    </div>
    <div class="form-group">
      <app-input-checkbox
        class="checkbox-control"
        [isBlackTheme]="true"
        [control]="form?.get('isPaper')"
        label="Бумажная рассылка"
        controlName="isPaper"
      >
      </app-input-checkbox>

      <div class="form-item">
        <app-input-text
          *ngIf="form?.get('isPaper')?.value"
          label="Адрес"
          [formControl]="form?.get('paperSending.address')"
          [isBlackTheme]="true"
          errorMsg="Не заполнен адрес"
          controlName="paperSendingAddress"
        >
        </app-input-text>
      </div>

      <div class="form-item">
        <app-input-text
          *ngIf="form?.get('isPaper').value"
          label="Количество копий"
          [formControl]="form?.get('paperSending.quantity')"
          [isBlackTheme]="true"
          controlName="countCopy"
        >
        </app-input-text>
      </div>

      <label
        *ngIf="form?.get('isPaper')?.value && !hasPaperSendingComment"
        class="toggle-description"
        (click)="togglePaperSendingComment()"
        >+ Добавить комментарий</label
      >

      <app-textarea
        *ngIf="form?.get('isPaper').value && hasPaperSendingComment"
        label="Комментарий"
        [isBlackTheme]="true"
        [maxLengthInput]="1900"
        [formControl]="form?.get('paperSending.comment')"
        controlName="paperSendingComment"
      >
      </app-textarea>
    </div>
    <div class="form-group">
      <app-input-checkbox
        class="checkbox-control"
        [isBlackTheme]="true"
        [control]="form?.get('isEmail')"
        label="Электронная рассылка"
        controlName="isEmail"
      >
      </app-input-checkbox>

      <div class="form-item">
        <app-input-text
          *ngIf="form?.get('isEmail')?.value"
          label="Электронный адрес"
          [formControl]="form?.get('emailSending.email')"
          [isBlackTheme]="true"
          errorMsg="Не заполнен электронный адрес"
          controlName="emailSendingEmail"
        >
        </app-input-text>
      </div>

      <label
        *ngIf="form?.get('isEmail')?.value && !hasEmailSendingComment"
        class="toggle-description"
        (click)="toggleEmailSendingComment()"
        >+ Добавить комментарий</label
      >

      <app-textarea
        *ngIf="form?.get('isEmail')?.value && hasEmailSendingComment"
        label="Комментарий"
        [isBlackTheme]="true"
        [maxLengthInput]="1900"
        [formControl]="form?.get('emailSending.comment')"
        controlName="emailSendingComment"
      >
      </app-textarea>
    </div>
  </div>

  <div class="buttonsContent">
    <div class="popup-buttons">
      <div class="button">
        <app-middle-button label="Сохранить" (click)="onSubmit()" [disabled]="form.invalid || form.pending" [isBlackTheme]="true">
        </app-middle-button>
      </div>
      <div class="button">
        <app-middle-button label="Отмена" (click)="closePopup()" [isBlackTheme]="true"></app-middle-button>
      </div>
    </div>
  </div>
</app-popup>
