<app-popup (onCloseEmit)="closePopup()"
  [disableScroll]="true"
  [isSimpleInnerInterface]="true">
  <div class="headerContent">
    <span class="popup-title">Удаление адресата</span>
  </div>
  <div class="content-wrapper">
    <span>Удалить адресат </span>
    <span *ngIf="payload.employee">{{ payload.employee | employeeShortName }}</span>
    <span *ngIf="payload.organization">{{ payload.organization }}</span>
  </div>
  <div class="
      buttonsContent">
    <div class="popup-buttons">
      <div class="button">
        <app-middle-button label="Удалить"
          (click)="onRemove()"
          [isBlackTheme]="true">
        </app-middle-button>
      </div>
      <div class="button">
        <app-middle-button label="Отмена"
          (click)="closePopup()"
          [isBlackTheme]="true"></app-middle-button>
      </div>
    </div>
  </div>
</app-popup>