@import 'mixins';

:host {
  background-color: #fff;
  border: 1px solid #ebebeb;
  display: grid;
  grid-template-columns: 50% 25% 25%;
  font-size: 16px;
  color: #797979;
  margin: 20px 0;
}

.sending-label {
  font-size: 18px;
}

.addressee-content {
  padding: 10px 25px;
  flex-grow: 1;

  .addressee__approval-sheet,
  .addressee__resend-block {
    margin: 10px 0;
  }

  .addressee__approval-sheet {
    .fa {
      color: #23775c;
    }
  }

  .addressee__resend-block {
    display: flex;

    .addressee__resend-item {
      margin-right: 20px;

      &.resend-link {
        color: initial;
      }

      &.resend-link:hover {
        color: #4d9abe;
        text-decoration: underline;
        cursor: pointer;
      }

      &.resend-status {
        display: flex;
        align-items: center;
      }
    }
  }

  .addressee__buttons-block {
    display: flex;
    margin-top: 20px;

    .addressee-button {
      margin-right: 10px;
    }
  }

  .sending-status {
    font-size: 16px;

    .status-sended,
    .status-not-sended {
      display: flex;
      align-items: center;
    }

    .status-sended {
      color: #23775c;
    }
    .status-not-sended {
      color: #e7a867;
    }
  }

  .sending-buttons {
    display: flex;
  }

  .addressee-link {
    text-decoration: none;
    color: #0070a4;
  }
}

.addressee-content:first-of-type {
  flex-grow: 4;
}

.icon {
  width: 16px;
  height: 16px;
  margin-right: 5px;

  &.check-circle-green {
    @include prepend-icon-svg('check-circle-green');
  }

  &.check-circle-grey {
    @include prepend-icon-svg('check-circle-grey');
  }

  &.exclamation-circle-orange {
    @include prepend-icon-svg('exclamation-circle-orange');
  }
}

.sending {
  &-content,
  &-status,
  &-buttons {
    margin-top: 10px;
  }
}
