<div class="addressee-content addressee__info">
  <div *ngIf="sending.employee">
    <div textUnderscores [searchText]="searchText$ | async">
      Кому: <strong>{{ sending.employee | employeeShortName }}</strong>
    </div>
    <div textUnderscores [searchText]="searchText$ | async">{{ sending.employee.jobPosition.name }}</div>
  </div>
  <div *ngIf="sending.organization">
    <div textUnderscores [searchText]="searchText$ | async">Кому: {{ sending.organization.name }}</div>
  </div>
  <div *ngIf="sending.isApprovalSheet" class="addressee__approval-sheet">
    <i class="fa fa-check"></i>
    <span>В листе согласования</span>
  </div>
  <div class="addressee__resend-block" *ngIf="isFullySent">
    <div class="addressee__resend-item resend-status">
      <div class="icon check-circle-grey"></div>
      <span>Отправлено</span>
    </div>
    <a class="addressee__resend-item resend-link" *ngIf="canSendAgain" (click)="sendAgain()">Отправить повторно</a>
  </div>

  <div class="addressee__buttons-block" *ngIf="someSendingIsNotSended || noSendings">
    <app-action-button
      class="addressee-button"
      label="Редактировать"
      colorClassName="button-color-blue-border"
      [withHover]="true"
      (click)="updateSending()"
    ></app-action-button>
    <app-action-button
      class="addressee-button"
      label="Удалить"
      colorClassName="button-color-red-border"
      [withHover]="true"
      (click)="removeSending()"
    ></app-action-button>
  </div>
</div>
<div *ngIf="sending.isEmail || sending.isEdo" class="addressee-content addressee__email-sending">
  <div class="sending-label">
    <strong>Электронная рассылка</strong>
  </div>

  <ng-container *ngIf="sending.isEdo">
    <div class="sending-status">
      <div class="status-sended" *ngIf="edoSending?.status === sendingStatuses.SENT">
        <div class="icon check-circle-green"></div>
        <div>Направлено по ЭДО</div>
      </div>
      <div class="status-sended" *ngIf="edoSending?.status === sendingStatuses.SENT_REPEATEDLY">
        <div class="icon check-circle-green"></div>
        <div>Направлено повторно по ЭДО</div>
      </div>
      <div class="status-not-sended" *ngIf="edoSending?.status === sendingStatuses.UNSENT">
        <div class="icon exclamation-circle-orange"></div>
        <div>Не направлено по ЭДО</div>
      </div>
    </div>
    <div class="sending-content">
      <div
        class="sending-sender"
        *ngIf="edoIsSended && edoSending?.sender"
        textUnderscores
        [searchText]="searchText$ | async"
      >
        Кем отправлено: {{ edoSending.sender | employeeShortName }}, {{ edoSending.date | date: 'dd.MM.yyyy' }} в
        {{ edoSending.date | date: 'HH:mm' }}
      </div>
      <div class="sending-comment" *ngIf="edoSending?.comment" textUnderscores [searchText]="searchText$ | async">
        Комментарий: {{ edoSending.comment }}
      </div>
    </div>
  </ng-container>

  <ng-container *ngIf="sending.isEmail">
    <div class="sending-status">
      <div class="status-sended" *ngIf="emailSending?.status === sendingStatuses.SENT">
        <div class="icon check-circle-green"></div>
        <div>Отправлено на email</div>
      </div>
      <div class="status-sended" *ngIf="emailSending?.status === sendingStatuses.SENT_REPEATEDLY">
        <div class="icon check-circle-green"></div>
        <div>Отправлено повторно на email</div>
      </div>
      <div class="status-not-sended" *ngIf="emailSending?.status === sendingStatuses.UNSENT">
        <div class="icon exclamation-circle-orange"></div>
        <div>Не отправлено</div>
      </div>
    </div>
    <div class="sending-content">
      <div
        class="sending-sender"
        *ngIf="emailIsSended && emailSending?.sender"
        textUnderscores
        [searchText]="searchText$ | async"
      >
        Кем отправлено: {{ emailSending.sender | employeeShortName }}, {{ emailSending.date | date: 'dd.MM.yyyy' }} в
        {{ emailSending.date | date: 'HH:mm' }}
      </div>
      <div class="sending-address" *ngIf="emailSending?.email" textUnderscores [searchText]="searchText$ | async">
        Адрес: <a class="addressee-link" href="mailto:{{ emailSending.email }}">{{ emailSending.email }}</a>
      </div>
      <div class="sending-comment" *ngIf="emailSending?.comment" textUnderscores [searchText]="searchText$ | async">
        Комментарий: {{ emailSending.comment }}
      </div>
    </div>
  </ng-container>

  <div class="sending-buttons" *appPermission="permission$ | async">
    <app-action-button
      *ngIf="!emailIsSended || !edoIsSended"
      class="addressee-button"
      label="Отправить"
      colorClassName="button-color-blue-border"
      [withHover]="true"
      (click)="onSendEmail()"
    ></app-action-button>
  </div>
</div>
<div *ngIf="sending.isPaper" class="addressee-content addressee__paper-sending">
  <div class="sending-label">
    <strong>Бумажная рассылка</strong>
  </div>
  <div class="sending-status">
    <div class="status-sended" *ngIf="paperSending?.status === sendingStatuses.SENT">
      <div class="icon check-circle-green"></div>
      <div>Отправлено</div>
    </div>
    <div class="status-sended" *ngIf="paperSending?.status === sendingStatuses.SENT_REPEATEDLY">
      <div class="icon check-circle-green"></div>
      <div>Отправлено повторно</div>
    </div>
    <div class="status-not-sended" *ngIf="paperSending?.status === sendingStatuses.UNSENT">
      <div class="icon exclamation-circle-orange"></div>
      <div>Не отправлено</div>
    </div>
  </div>
  <div class="sending-content">
    <div
      class="sending-sender"
      *ngIf="paperIsSended && paperSending?.sender"
      textUnderscores
      [searchText]="searchText$ | async"
    >
      Кем отправлено: {{ paperSending.sender | employeeShortName }}, {{ paperSending.date | date: 'dd.MM.yyyy' }} в
      {{ paperSending.date | date: 'HH:mm' }}
    </div>

    <div class="sending-address" *ngIf="paperSending?.address" textUnderscores [searchText]="searchText$ | async">
      Адрес: {{ paperSending.address }}
    </div>
    <div class="sending-comment" *ngIf="paperSending?.comment" textUnderscores [searchText]="searchText$ | async">
      Комментарий: {{ paperSending.comment }}
    </div>
    <div *ngIf="paperSending?.quantity">Количество копий: {{ paperSending.quantity }}</div>
    <div class="sending-buttons" *appPermission="permission$ | async">
      <app-action-button
        *ngIf="!paperIsSended"
        class="addressee-button"
        label="Отправить"
        colorClassName="button-color-blue-border"
        [withHover]="true"
        (click)="onSendPaper()"
      ></app-action-button>
    </div>
  </div>
</div>
