<div class="sending-params-from">
  <app-input-calendar class="sending-params__from-control"
    [isBlackTheme]="true"
    label="Дата"
    [formControl]="date"
    controlName="date">
  </app-input-calendar>
  <app-input-text class="sending-params__from-control small-control"
    [isBlackTheme]="true"
    label="Время"
    [formControl]="time"
    controlName="time"
    controlType="time">
  </app-input-text>
  <app-input-text *ngIf="quantity"
    class="sending-params__from-control small-control"
    [isBlackTheme]="true"
    label="Количество копий"
    [formControl]="quantity"
    controlName="countCopy">
  </app-input-text>
</div>