@import 'fonts';
@import 'colors';
@import 'mixins';
@import 'proportions/scroll';

:host {
  background-color: $g_color_pageBackground;
  height: 100%;
}

.form-about {
  height: 100%;
  position: relative;
  display: grid;
  grid-template-rows: auto 1fr;
}

.content {
  overflow: auto;
  font-family: $fontFamilyRegular;
  font-size: 18px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px 40px;
  box-sizing: border-box;

  @extend .scrollbarOnWhiteTheme;
}

.form-section_about {
  padding-top: 20px;
}

.form-section {
  width: 100%;
  margin-bottom: 15px;
}

.form-group {
  display: flex;
  width: 100%;
  margin-bottom: 15px;
}

.form-group_base {
  align-items: center;
}

app-textarea {
  width: 100%;
}

.input-project-type {
  flex: 1;
}

.register-number__wrapper {
  width: auto;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  margin-left: 25px;
}

.register-number__label {
  color: $g_color_grayLabelFont;
  font-size: 14px;
  font-family: $fontFamilyLight;
  text-align: justify;
  line-height: 15px;
  width: inherit !important;
  max-width: 326px;
}

.form-input {
  margin-right: 15px;
  width: auto;
}

.m_right_0 {
  margin-right: 0;
}

.m_bottom_-10 {
  margin-bottom: -10px;
}

.m_bottom_0 {
  margin-bottom: 0;
}

.m_bottom_10 {
  margin-bottom: 10px;
}

.m_bottom_20 {
  margin-bottom: 20px;
}

.m_bottom_40 {
  margin-bottom: 40px;
}

.button {
  width: auto;
  padding-bottom: 14px;
}

.label {
  color: $g_color_grayLabelFont;
  font-size: 14px;
  font-family: $fontFamilyLight;
  padding: 0 0 7px 20px;
  display: block;
  line-height: 14px;
}

.flex_1 {
  flex: 1;
}

.flex_40 {
  flex: 40%;
}

.flex_30 {
  flex: 30%;
}

.p_left_20 {
  padding-left: 20px;
}

.colon {
  font-size: 25px;
  line-height: 40px;
  margin-right: 10px;
}

.input-npa-number {
  margin-right: 0;
}

.reserve-button {
  height: 40px;
  font-size: 18px;
  padding: 0 15px;
  position: relative;
  margin-bottom: 12px;
}

.input-executor {
  margin: 0 25px 0 0;
  width: 100%;
}

.input-hours,
.input-minutes {
  width: 100px;
}

.input-project-type,
.input-project-status {
  min-width: 260px;
  width: 30%;
}
.select-long {
  width: 422px;
}
.select-long-type {
  width: 396px;
}
.input-long {
  width: calc(100% - 437px);
}
.form-input-without-mr {
  margin-right: 0;
}
.form-input-summonsDate {
  width: calc(100% - 300px);
}

.input-typeOfMeeting {
  flex: 1;
  max-width: 800px;
}

.max-width_1000 {
  max-width: 1000px;
  flex-wrap: wrap;
}

@media (max-width: 1360px) {
  .m_bottom_-10 {
    margin-bottom: 10px;
  }
}
