<form class="form-about" [formGroup]="aboutDocumentForm" (submit)="onSubmit()">
  <app-content-header title="Сведения о пакете">
    <app-header-button
      [disabled]="(isDocumentPackageLoading$ | async) || (isOpenPopup$ | async)"
      [isSubmitButton]="true"
      elementId="save-button"
      [label]="'сохранить'"
    ></app-header-button>
  </app-content-header>

  <div class="content" appScrollSpy>
    <section class="form-section form-section_about" id="about">
      <app-document-main-form
        [parentForm]="mainForm"
        [npaRegistritionNumber]="npaRegistrationNumber"
        [pageMode]="documentPageMode.create"
      ></app-document-main-form>
    </section>

    <ng-container *ngLet="isLocalProjectTypeSelected$ | async as isLocalProjectTypeSelected">
      <section class="form-section" id="base">
        <app-development-reason-form
          [parentForm]="aboutDocumentForm"
          [pageMode]="documentPageMode.create"
          [isLocalProjectType]="isLocalProjectTypeSelected"
        ></app-development-reason-form>
      </section>

      <section class="form-section m_bottom_40" id="date">
        <app-review-date-form
          *ngIf="!(isLocalProjectTypeSelected)"
          [parentForm]="aboutDocumentForm"
          [pageMode]="documentPageMode.create"
          [getProjectTypeData]="getProjectTypeData"
        ></app-review-date-form>
      </section>
    </ng-container>

  </div>
</form>

<app-confirmation-popup
  *ngIf="toggleLeavePopup"
  text="Информация будет удалена. <br/>Все введенные данные будут потеряны. <br/>Вы уверены?"
  [(toggleConfirmationPopup)]="toggleLeavePopup"
  (successCallback)="onPageLeave()"
></app-confirmation-popup>

<app-big-loader *ngIf="toggleLoader"></app-big-loader>

<ng-container *ngIf="toggleFormValidationErrorPopup">
  <app-form-validation-error-popup
    [invalidContolsNames]="invalidControlsNames"
    [(togglePopup)]="toggleFormValidationErrorPopup"
  >
  </app-form-validation-error-popup>
</ng-container>
