<div class="main-about">
  <app-content-header title="Разослать">
    <div class="header-buttons">
      <ng-template #search>
        <app-header-search-input
          class="search-form"
          [(ngModel)]="searchText"
          (onEnter)="findSendings()"
          [isBlackTheme]="true"
        >
        </app-header-search-input>
        <app-header-button elementId="search-button" label="Найти" (click)="findSendings()"> </app-header-button>
      </ng-template>
      <app-header-button
        *ngIf="!searchInput; else search"
        (click)="searchInput = !searchInput"
        elementId="open-search-button"
        label="Поиск"
        [withoutBorder]="true"
        [withHover]="false"
      >
        <i class="fa fa-search"></i>
      </app-header-button>
      <app-header-button (click)="addAddressee()" elementId="add-button" label="Добавить адресата"></app-header-button>
      <app-header-button
        *appPermission="permission$ | async"
        (click)="sendToAllAddressee()"
        elementId="send-button"
        label="Разослать всем"
      ></app-header-button>
    </div>
  </app-content-header>

  <div
    class="content"
    infinite-scroll
    [infiniteScrollDistance]="2"
    [infiniteScrollThrottle]="50"
    (scrolled)="onScrollDown()"
    [scrollWindow]="false"
  >
    <ng-container *ngIf="(sendings$ | async).length > 0 && sendings$ | async as sendings; else noSendings">
      <span class="content-total-count"
        ><i *ngIf="isSearching">найдено </i> <i>адресатов:</i> {{ sendingsTotalCount$ | async }}</span
      >
      <app-addressee-card
        *ngFor="let sending of sendings"
        [canSendAgain]="canSendAgain"
        [sending]="sending"
      ></app-addressee-card>
    </ng-container>
    <ng-template #noSendings>Ни одного адресата пока не добавлено.</ng-template>
  </div>

  <app-big-loader *ngIf="toggleLoader"></app-big-loader>
</div>

<ng-template appAdHost></ng-template>
