@import 'fonts';

.main-about {
  height: 100%;
  position: relative;

  .header-buttons {
    margin-left: auto;
    display: flex;
    align-items: center;
  }
}

.content {
  height: calc(100% - 80px);
  padding: 20px 40px 85px;
  font-size: 18px;
  font-family: $fontFamilyRegular;
  box-sizing: border-box;
  overflow: auto;
  color: #666666;
  &-total-count {
    i {
      &:first-child {
        text-transform: capitalize;
      }
      font-style: normal;
    }
  }
}

.content::-webkit-scrollbar-track {
  border-radius: 4px;
}

.content::-webkit-scrollbar {
  width: 6px;
}

.content::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background: #666666;
}

.content:hover::-webkit-scrollbar-thumb {
  background: #666666;
}

.search-form {
  width: 500px;
}
