<app-popup (onCloseEmit)="closePopup()" [disableScroll]="true" [isSimpleInnerInterface]="true">
  <div class="headerContent">
    <span class="popup-title">Разослать всем</span>
  </div>
  <div class="content-wrapper">
    <div>Указать факт рассылки всех неотправленных документов?</div>
    <app-input-checkbox
      class="checkbox-control"
      [isBlackTheme]="true"
      [label]="edoSpecifyAsSentLabel$ | async"
      [control]="form.get('isEdo')"
      controlName="markEdo"
    >
    </app-input-checkbox>
    <app-input-checkbox
      class="checkbox-control"
      [isBlackTheme]="true"
      [label]="paperSpecifyAsSentLabel$ | async"
      [control]="form.get('isPaper')"
      controlName="markPapers"
    >
    </app-input-checkbox>
    <app-input-checkbox
      class="checkbox-control"
      [isBlackTheme]="true"
      [label]="emailSpecifyAsSentLabel$ | async"
      [control]="form.get('isEmail')"
      controlName="markEmail"
    >
    </app-input-checkbox>
    <app-sending-params-form
      [date]="form.get('sending.date')"
      [time]="form.get('sending.time')"
    ></app-sending-params-form>
  </div>
  <div class="buttonsContent">
    <div class="popup-buttons">
      <div class="button">
        <app-middle-button label="Указать" (click)="onApply()" [isBlackTheme]="true" [disabled]="sendingDisabled">
        </app-middle-button>
      </div>
      <div class="button">
        <app-middle-button label="Отмена" (click)="closePopup()" [isBlackTheme]="true"></app-middle-button>
      </div>
    </div>
  </div>
</app-popup>
